{% extends 'base.html'%}
{% block title %} login {% endblock %}
{% block content %} 
<div class="container d-flex justify-content-center align-items-center" style="">
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <br>
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <br>
    <button type "submit" class ="btn btn-success">Login</button>
    <br>
    <br>
    <p> don't have account?<a href="{% url 'signup'%}">register</a></p>

</form>
</div>
{%endblock%}